
/* 图形2 */
.graphical-sub-view-2 {
    width: 94%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    height: 45px;
}


.graphical-sub-view-2-title {
    position: absolute;
    color: white;
    height: 18px;
    min-width: 45px;
    line-height: 28px;
    z-index: 10;
    left: 30px;
    font-size: 18px;
}

.graphical-sub-line {
    position: absolute;
    background-color: rgb(85,142,213);
    width: calc(100% - 5px);
    height: 2px;
    bottom: 15px;
    left: 5px;
}

.graphical-sub-1 {
    position: relative;
    height: 40px;
    min-width: 18px;
    transform-origin: 5px 10px;
    transform: skewX(45deg) rotate(45deg);
    background-color: rgb(85,142,213);
}

.graphical-sub-2 {
    position: relative;
    left: -15px;
    height: 30px;
    width: 130px;
    transform: skewX(45deg);
    background-color: rgb(85,142,213);
}

.graphical-sub-3 {
    margin-left: 1px;
    position: relative;
    left: -15px;
    height: 30px;
    min-width: 7px;
    max-width: 7px;
    transform: skewX(45deg);
    background-color: rgb(85,142,213);
}

.graphical-sub-4 {
    margin-left: 1px;
    position: relative;
    left: -15px;
    height: 30px;
    min-width: 12px;
    max-width: 12px;
    transform: skewX(45deg);
    background-color: rgb(85,142,213);
}
/* ========================================= */
