/* 初始化默认样式 */
html, body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

body {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #6faef1;
    border-radius: 8px;
    background-clip: content-box;
    border: 2px solid transparent;
}

/* 自定义样式 */
#rootView {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}